  @import "/src/scss/variables";
  @import "/src/scss/functions";
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

  /**
  * Desktop Navigation 
  */
  nav{
    &.navbar{
      padding: 0;
      display: contents;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
        &.mobileMenuExpanded{
          display: flex;
          flex-direction: column;
          position: fixed;
          background: $color-bg-transp; 
          align-items: flex-start;
          right: 0;
          padding-right: 10px;
          top: 70px;
          .dropdown{
            ul{
              left: -100%;
              right: 0;
              .dropdown{
                ul{
                  left: 0;
                  right: 0;
                }
              }
            }
          }
        }
      }
      li {
        position: relative;
      }
      a {
        @include navbar-a;
        &:focus {
          @include navbar-a;
        }
        @include media-breakpoint-down(xl) {
            padding-left: 15px;
        }
      }
      a:hover,
      .active,
      .active:focus,
      li:hover>a {
        color: $color-highlighted;
      }
      .dropdown{
        ul {
          display: block;
          position: absolute;
          left: 14px;
          top: calc(100% + 30px);
          margin: 0;
          padding: 10px 0;
          z-index: 99;
          opacity: 0;
          visibility: hidden;
          background: $color-negative;
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          transition: 0.3s;
          li {
            min-width: 200px;
          }
          a {
            padding: 10px 20px;
            font-size: 14px;
            text-transform: none;
            color: $color-default;
            font-weight: 400;
            i {
              font-size: 12px;
            }
          }
          a:hover,
          .active:hover,
          li:hover>a {
            background-color: $color-highlighted;
          }
        }
        &:hover>ul {
          opacity: 1;
          top: 100%;
          visibility: visible;
        }
        .dropdown{
          ul {
            top: 0;
            left: calc(100% - 30px);
            visibility: hidden;
          }
          &:hover>ul {
            opacity: 1;
            top: 0;
            left: 100%;
            visibility: visible;
          }
        
          @include media-breakpoint-down(xl) {
            ul {
              left: -90%;
            }
            &:hover>ul {
              left: -100%;
            }
          }
        }
      }
      /**
      * Mobile Navigation 
      */
      .mobile-nav-toggle {
        color: $color-negative;
        font-size: 28px;
        cursor: pointer;
        display: none;
        line-height: 0;
        transition: 0.5s;
      }
      
      @include media-breakpoint-down(lg) {
        .mobile-nav-toggle {
          display: block;
        }
      
        ul {
          display: none;
    
        }
      }
    }
  }
  
  
  .navbar-mobile {
    @include navbar-mobile;
  }