$img-src: "~/src/assets/img/";

/* Fonts */
$font-default:   'Open Sans', sans-serif;
$font-logo-01:   'Pixelify Sans', sans-serif;
$font-logo-02:   'Shadows Into Light Two', cursive;
$font-title-01:  'Shadows Into Light Two', cursive;
$font-title-02:  'Poppins', sans-serif;
$font-title-03:  'Raleway', sans-serif;

/* Colors */
$color-default: #212529;
$color-negative: #FFF;
$color-primary: #222222;
$color-highlighted: #00bcdd;
$color-secondary: #39373f;
$color-secondary-light: #7a7688;
$color-bg: #222222;
$color-bg2: #000;
$color-bg3: #DDD;
$color-error: #ed3c0d;
$color-success: #18d26e;

/* transparency */
$color-bg-transp: rgba(0, 0, 0, 0.8);