<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
        <title></title>
    </head>
    <body>
        <div id=":10b" class="Am aiL IP Al editable Xp0HJf-LW-avf" hidefocus="true" aria-label="Signature" g_editable="true"
            role="textbox" aria-multiline="true" contenteditable="true" style="direction: ltr">
            <div style="color: rgb(34, 34, 34)">
                <div dir="ltr">
                    <div dir="ltr">
                        <div>
                        <b>
                            <font color="#888" face="verdana, sans-serif" size="2rem">Best Regards,</font>
                        </b>
                        <br />
                        </div>
                        <div>
                        <b><font color="#666666" face="verdana, sans-serif"><br />
                            </font></b>
                        </div>
                        <div>
                            <table cellpadding="0" cellspacing="0" style="border-spacing: 0px;border-collapse: collapse;color: rgb(68, 68, 68);width: 525px;font-size: 11pt;font-family: Arial, sans-serif;">
                                <tbody>
                                    <tr>
                                        <td width="125" valign="top" rowspan="6"
                                            style="text-align: center;padding: 0px 10px 0px 0px;font-size: 10pt;border-right: 1px solid rgb(251, 99, 3);width: 125px;vertical-align: top;">
                                            <a href="mailto:fgds.net@gmail.com" style="font-family: monospace;font-size: 13.3333px;font-weight: 700;" target="_blank">
                                                <img data-aii="CiExUkFLRHFLUGN3c3VCNHpuZ2hkbU1UdG9ZLXN4RTVsMjU" style="border-radius: 50%;"
                                                    src="https://ci3.googleusercontent.com/mail-sig/AIorK4yjvuXn3V6WqDsEVxgjALug9uriUPz1loVjVSUEGtN_oYhxuQsgkr_lmQuGOQ7cLoAgPsvaOW8"
                                                    data-os="https://lh3.googleusercontent.com/d/1RAKDqKPcwsuB4znghdmMTtoY-sxE5l25" />
                                            </a><br />
                                        </td>
                                        <td style="padding: 0px 0px 0px 10px">
                                            <table cellpadding="0" cellspacing="0" style="border-spacing: 0px;border-collapse: collapse;background-color: transparent;">
                                                <tbody>
                                                    <tr>
                                                        <td valign="top" style="padding: 0px 0px 5px 10px;width: 400px;vertical-align: top;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" style="padding: 5px 0px 5px 10px;vertical-align: top;line-height: 17px;">
                                                            <span style="color: rgb(251, 99, 3);font-family: verdana, sans-serif;font-weight: 700;">
                                                                <font size="4">FABIO GUIMARAES</font>
                                                            </span>
                                                            <font face="monospace" style="font-size: 10pt">
                                                                <span style="color: rgb(251, 99, 3)">
                                                                    <span style="font-weight: 700"><br />location:&nbsp;</span>
                                                                </span>
                                                                <span style="font-size: 10pt">
                                                                    <font color="#888"><b>New Brunswick, Canada</b></font>
                                                                </span><br />
                                                                <span style="font-weight: 700">
                                                                    <font color="#fb6303">&nbsp; &nbsp;email:&nbsp;</font>
                                                                    <font color="#888">
                                                                        <a style="text-decoration: none;font-size: 1rem;font-weight: 700;color: #1e90ff;" href="mailto:fgds.net@gmail.com" target="_blank">
                                                                            fgds.net@gmail.com</a>
                                                                    </font>
                                                                </span>
                                                            </font>
                                                            <font face="monospace" style="font-size: 10pt">
                                                                <span style="font-size: 10pt">
                                                                    <font color="#000000"><br /></font>
                                                                </span>
                                                            </font>
                                                            <font face="monospace" style="font-size: 10pt">
                                                                <span style="color: rgb(251, 99, 3)">
                                                                    <span style="font-weight: 700">&nbsp; mobile:</span>
                                                                </span>
                                                                <span style="font-size: 10pt">
                                                                    <font color="#000000">&nbsp;</font>
                                                                </span>
                                                            </font>
                                                            <b style="color: #888;font-family: monospace;font-size: 13.3333px;">+1&nbsp;</b>
                                                            <b style="color: #888;font-size: 10pt;font-family: monospace;background-color: transparent;">
                                                                506 233 6933</b>
                                                            <font face="monospace" style="font-size: 10pt">
                                                                <span style="font-size: 10pt">
                                                                    <font color="#000000"><br /></font>
                                                                </span>
                                                            </font>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="https://guimadev.vercel.app" rel="noopener"
                    style="font-family: Arial, sans-serif;font-size: large;color: rgb(251 99 3);text-decoration: none;"target="_blank">
                    <img alt="site_icon" src="https://lh3.googleusercontent.com/d/1dKr3NMRYCA8SG7eXBU8Kk7gg2UDMxngT" />
                </a>
                <font color="#999999" face="verdana, sans-serif" size="2rem">
                    <a href="https://guimadev.vercel.app/" style="text-decoration: none;font-weight: 700;color: #1e90ff;"target="_blank">
                        https://guimadev.vercel.app/
                    </a>
                </font>
            </div>
            <div>
                <a href="https://github.com/fgdsnet" rel="noopener"
                    style="font-family: Arial, sans-serif;font-size: large;color: rgb(251 99 3);text-decoration: none;"target="_blank">
                    <img alt="github_icon" src="https://lh3.googleusercontent.com/d/1jQEcuorwXaxJXw8kGrNI3YIC_e47AMev" />
                </a>
                <font color="#999999" face="verdana, sans-serif" size="2rem">
                    <a href="https://github.com/fgdsnet" style="text-decoration: none;font-weight: 700;color: #1e90ff;"target="_blank">
                        https://github.com/fgdsnet
                    </a>
                </font>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/fabio-guimaraes-0bb54720b/" rel="noopener"
                    style="font-family: Arial, sans-serif;font-size: large;color: rgb(251 99 3);text-decoration: none;" target="_blank">
                    <img alt="linkedin_icon" src="https://lh3.googleusercontent.com/d/1AOH0031_FPO2B8jYqJWI3nLSIMGdvZBt" />
                </a>
                <font color="#999999" face="verdana, sans-serif" size="2rem">
                    <a href="http://www.linkedin.com/in/fabio-guimaraes-0bb54720b"
                        style="text-decoration: none;font-weight: 700;color: #1e90ff;" target="_blank">
                        http://www.linkedin.com/in/fabio-guimaraes-0bb54720b
                    </a>
                </font>
            </div>
            <div><br /></div>
            <div><br /></div>
        </div>
    </body>
</html>
